* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

main {
    margin: auto;
    width: 400px;
}

.kocka {
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

.kocka div {
    margin: auto;
}

#tarolo {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
}

header {
    font-size: 40px;
}

img {
    width: 40px;
}